.color-page {
    padding-top: 2em;
    display: inline-block;
    width: 100%;
    height: calc(100vh - 3em);
}

.light-theme {
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.dark-theme {
    background: var(--bg-primary);
    color: var(--text-primary);
}

.dark-theme_nav {
    color: var(--text-secondary);
    border-bottom: none;
}

.light-theme-nav {
    background: var(--bg-teritary);
    color: var(--text-secondary);
    border-bottom: none;
}