.btns-wrapper {
    margin: 2em;
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1em;
}

.btn {
    width: 8em;
    height: 3em;
    font-family: var(--ff-secondary);
    text-transform: uppercase;
    border: none;
    border-radius: .5em;
    margin: 2em;
    transition: var(--tran-secondary);
}

.sm {
    width: 5em;
    height: 2.5em;
}

.lg {
    width: 10em;
    height: 3.5em;
}

.primary {
    color: var(--text-primary);
    background: var(--btn-primary);
}

.primary:hover, .primary:focus {
    background: var(--btn-primary-act);
    transition: var(--tran-secondary);
}