
/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");

/*
=============== 
Variables
===============
*/
:root {
    --text-primary: #f5f5f5;
    --text-secondary: #3b3b3b;
    --bg-primary: #4d4d4d;
    --bg-secondary: #f3f3f3;
    --bg-teritary: #808080;
    --ff-primary: 'Sen', sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --bs-primary: 0 0 .8em .2em #00002c;
    --tran-primary: all 300ms linear;
    --tran-secondary: all 400ms ease;

    --btn-primary: #007bff;
    --btn-primary-act: #0062cc;
    --btn-primary-dis: #58a8ff;
    --btn-secondary: #4d4d4d;
    --btn-secondary-act: #3d3c3c;
    --btn-secondary-dis: #757575;
    --btn-success: #28a745;
    --btn-success-act: #0d922c;
    --btn-success-dis: #54e075;
    --btn-danger: #dc3545;
    --btn-danger-act: #c42131;
    --btn-danger-dis: #f76b79;
    --btn-warning: #ffc107;
    --btn-warning-act: #dda704;
    --btn-warning-dis: #fdd868;
    --btn-info: #17a2b8;
    --btn-info-act: #09879b;
    --btn-info-dis: #53d0e4;
    --btn-light: #f5f5f5;
    --btn-light-act: #c7c6c6;
    --btn-light-dis: #ffffff;
    --btn-dark: #3b3b3b;
    --btn-dark-act: #202020;
    --btn-dark-dis: #969696;
}

/*
=============== 
Global Styles
===============
*/
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-primary);
    background: var(--bg-secondary);
    color: var(--text-secondary);
    line-height: 1.5;
    font-size: 0.875rem;
    scroll-behavior: smooth
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

h1, h2, h3, h4 {
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1, h2, h3, h4 {
        line-height: 1;
    }
}

/*
=============== 
Material Icons
===============
*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v52/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 2.6em;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-osx-font-smoothing: grayscale;
    transition: var(--tran-secondary);
}

/*
=============== 
Global Classes
===============
*/
.section {
    padding: 5rem 0;
}
  
.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1370px;
}

@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}
  
.main-wrapper {
    margin-left: 4.4em;
    overflow: hidden;
    min-height: calc(100vh - 50px);
}

.section-title {
    font-size: x-large;
    font-weight: 900;
}

.title {
    min-width: 80vw;
    text-align: center;
}

.legend-block {
    margin: 0;
    margin-left: 2em;
}

.container {
    margin-top: 2em;
    text-align: center;
}

.inline-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .title {
        min-width: 40vw;
    }
}